.App {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.fastFood {
  float: right;
  width: 20%;
  border: 1px solid black;
}
.forget {
  font-size: 10px;
}
.quantityPrice {
  padding-bottom: 20px;
}
.noOrder {
  display: block;
}
.Order {
  display: none;
}


