.menu {
    width: 40%;
    border: 1px solid black;
    float: left;
}
.food {
    display: flex;
    justify-content: space-between;
}
.food-drink {
    display: flex;
    justify-content: space-between;
}
.img {
    width: 80px;
    float: left;
}
.priceFood {
    padding: 20px 0;
}
.nameProduct {
    padding: 20px 0;
    width: 150px;
}
.quantity {
    padding: 20px 0;
    display: table;
}
.delete {
    background: #fff;
    border: none;

}
.priceOrder {
    width: 300px;
    margin: 0 auto;
}
